<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="V_ATT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <V_ATT.Properties.Settings>
            <setting name="mode" serializeAs="String">
                <value>SQL</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>att_yc</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>ASD@1234</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Appname" serializeAs="String">
                <value>ATT_V</value>
            </setting>
            <setting name="L_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="Auto" serializeAs="String">
                <value />
            </setting>
        </V_ATT.Properties.Settings>
    </userSettings>
</configuration>